<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="images/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<title>Cat's list</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '205995896433804',
        xfbml      : true,
        version    : 'v2.5'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>

  <div class="navbar-wrapper">
    <div class="container">

      <nav class="navbar navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CAT'S LIST</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><%= link_to "All Posts", posts_path %></li>
              <% Category.all.each do |category| %>
              <li><%= link_to category.name, posts_path(category_id: category.id), category: category.name %></li>
              <% end %>
            </ul>
            <div class="navbar-brand pull-right">
              <% if current_user %>
              <h1>Hello, <%= current_user.user_name %></h1>
              <%= link_to 'Logout', logout_path, method: 'delete', data:{confirm: 'Are you sure?'} %>
              <% else %>
              <button class="btn-default btn"><%= link_to 'Login', login_path %></button>
              <button class="btn-default btn"><%= link_to 'Register', new_user_path %></button>
              <% end %>
            </div>

</div>

</nav>
</div>

</div>
</div>

<div class="container">
  <% flash.each do |name, message| %>
    <div class="flash-message flash-message-<%= name %>">
      <%= message %>
    </div>
  <% end %>

<%= yield %>

<hr class="featurette-divider">

<footer>
<p class="pull-right"><a href="#">Back to top</a></p>
<p>&copy; 2016 Catslist </p>
<div
class="fb-like"
data-share="true"
data-width="450"
data-show-faces="true">
</div>
</footer>

  </div>
</div>


</body>

</html>
